<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin view</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
            {% if user.UserProfile.role == 'Admin' %}
                <p><a href="{% url 'Admin' %}">Admin Dashboard</a></p>

                <h2>Books:</h2>
                <ul>
                    {% for book in books %}
                    <li>{{ book.title }} by {{ book.author.name }}</li>
                    {% endfor %}
                </ul>
                <h2>Authors:</h2>
                <ul>
                    {% for book in library.books.all %}
                    <li>{{ book.author.name }}</li>
                    {% endfor %}
                </ul>

                <h2>Books in Library:</h2>
                <ul>
                    {% for book in library.books.all %}
                    <li>{{ book.title }} by {{ book.author.name }} (Published {{ book.publication_year }})</li>
                    {% endfor %}
                </ul>
                

            {% endif %}
    
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
        {% endif %}
    </div>
</body>
</html>
